<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <p>{{ message }}</p>
            <input placeholder="ilosc testow" v-model="testy"> <br>
            <input placeholder="ilosc obzartuchów" v-model="glodni" > <br>
            <input placeholder="ilosc opakowan ciastek" v-model="iloscBox"> <br>
            <input placeholder="czas jedzenia" v-model="czasJedzenia" > 
            
            
            <br>
            <button v-on:click="licz">Licz</button>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>